<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta Data -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home Stylish | JoiFurn</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="media/favicon.png">

	<!-- Dependency Styles -->
	<link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="~/libs/feather-font/css/iconfont.css" type="text/css">
	<link rel="stylesheet" href="~/libs/icomoon-font/css/icomoon.css" type="text/css">
	<link rel="stylesheet" href="~/libs/font-awesome/css/font-awesome.css" type="text/css">
	<link rel="stylesheet" href="~/libs/wpbingofont/css/wpbingofont.css" type="text/css">
	<link rel="stylesheet" href="~/libs/elegant-icons/css/elegant.css" type="text/css">
	<link rel="stylesheet" href="~/libs/slick/css/slick.css" type="text/css">
	<link rel="stylesheet" href="~/libs/slick/css/slick-theme.css" type="text/css">
	<link rel="stylesheet" href="~/libs/mmenu/css/mmenu.min.css" type="text/css">

	<!-- Google Web Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-yU4zKMn1S+o5zrrqYpOc7qKMw0Zp9qV7f97FhFQqjvxg5b5U7QFrX3/Nm4Nlqqq1J3Vcv9SeKyaqjT7YDjE7Xw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Site Stylesheet -->
	<link rel="stylesheet" href="~/assets/css/responsive.css">
	<link rel="stylesheet" href="~/assets/css/app.css">
	@RenderSection("Css", required: false)

</head>

<body class="home home-7 title-7">
	<div id="page" class="hfeed page-wrapper">
		@await Component.InvokeAsync("Header")

            @RenderBody()
		@await Component.InvokeAsync("Footer")

	</div>

	<!-- Back Top button -->
	<div class="back-top button-show">
		<i class="arrow_carrot-up"></i>
	</div>

	<!-- Search -->
	@* <div class="search-overlay"> *@
	@* 	<div class="close-search"></div> *@
	@* 	<div class="wrapper-search"> *@
	@* 		<form method="get" class="search-from ajax-search" action=""> *@
	@* 			<div class="search-box"> *@
	@* 				<button id="searchsubmit" class="btn" type="submit"> *@
	@* 					<i class="icon-search"></i> *@
	@* 				</button> *@
	@* 				<input id="myInput" type="text" autocomplete="off" value="" name="s" class="input-search s" placeholder="Search..."> *@
	@* 				<div class="search-top"> *@
	@* 					<div class="close-search">Cancel</div> *@
	@* 				</div> *@
	@* 				<div class="content-menu_search"> *@
	@* 					<label>Suggested</label> *@
	@* 					<ul id="menu_search" class="menu"> *@
	@* 						<li><a href="#">Furniture</a></li> *@
	@* 						<li><a href="#">Home Décor</a></li> *@
	@* 						<li><a href="#">Industrial</a></li> *@
	@* 						<li><a href="#">Kitchen</a></li> *@
	@* 					</ul> *@
	@* 				</div> *@
	@* 			</div> *@
	@* 		</form> *@
	@* 	</div> *@
	@* </div> *@





	<!-- Wishlist -->
	<div class="wishlist-popup">
		<div class="wishlist-popup-inner">
			<div class="wishlist-popup-content">
				<div class="wishlist-popup-content-top">
					<span class="wishlist-name">Wishlist</span>
					<span class="wishlist-count-wrapper"><span class="wishlist-count">2</span></span>
					<span class="wishlist-popup-close"></span>
				</div>
				<div class="wishlist-popup-content-mid">
					<table class="wishlist-items">
						<tbody>
							<tr class="wishlist-item">
								<td class="wishlist-item-remove"><span></span></td>
								<td class="wishlist-item-image">
									<a href="shop-details.html">
										<img width="600" height="600" src="media/product/3.jpg" alt="">
									</a>
								</td>
								<td class="wishlist-item-info">
									<div class="wishlist-item-name">
										<a href="shop-details.html">Chair Oak Matt Lacquered</a>
									</div>
									<div class="wishlist-item-price">
										<span>$150.00</span>
									</div>
									<div class="wishlist-item-time">June 4, 2022</div>
								</td>
								<td class="wishlist-item-actions">
									<div class="wishlist-item-stock">
										In stock
									</div>
									<div class="wishlist-item-add">
										<div data-title="Add to cart">
											<a rel="nofollow" href="#" class="button">Add to cart</a>
										</div>
									</div>
								</td>
							</tr>
							<tr class="wishlist-item">
								<td class="wishlist-item-remove"><span></span></td>
								<td class="wishlist-item-image">
									<a href="shop-details.html">
										<img width="600" height="600" src="media/product/4.jpg" alt="">
									</a>
								</td>
								<td class="wishlist-item-info">
									<div class="wishlist-item-name">
										<a href="shop-details.html">Pillar Dining Table Round</a>
									</div>
									<div class="wishlist-item-price">
										<del aria-hidden="true"><span>$150.00</span></del>
										<ins><span>$100.00</span></ins>
									</div>
									<div class="wishlist-item-time">June 4, 2022</div>
								</td>
								<td class="wishlist-item-actions">
									<div class="wishlist-item-stock">
										In stock
									</div>
									<div class="wishlist-item-add">
										<div data-title="Add to cart">
											<a rel="nofollow" href="#" class="button">Add to cart</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="wishlist-popup-content-bot">
					<div class="wishlist-popup-content-bot-inner">
						<a class="wishlist-page" href="shop-wishlist.html">
							Open wishlist page
						</a>
						<span class="wishlist-continue" data-url="">
							Continue shopping
						</span>
					</div>
					<div class="wishlist-notice wishlist-notice-show">Added to the wishlist!</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Quickview -->
	<div class="quickview-popup">
		<div id="quickview-container">
			<div class="quickview-container">
				<a href="#" class="quickview-close"></a>
				<div class="quickview-notices-wrapper"></div>
				<div class="product single-product product-type-simple">
					<div class="product-detail">
						<div class="row">
							<div class="img-quickview">
								<div class="product-images-slider">
									<div id="quickview-slick-carousel">
										<div class="images">
											<div class="scroll-image">
												<div class="slick-wrap">
													<div class="slick-sliders image-additional" data-dots="true" data-columns4="1" data-columns3="1" data-columns2="1" data-columns1="1" data-columns="1" data-nav="true">
														<div class="img-thumbnail slick-slide">
															<a href="media/product/3.jpg" class="image-scroll" title="">
																<img width="900" height="900" src="media/product/3.jpg" alt="">
															</a>
														</div>
														<div class="img-thumbnail slick-slide">
															<a href="media/product/3-2.jpg" class="image-scroll" title="">
																<img width="900" height="900" src="media/product/3-2.jpg" alt="">
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="quickview-single-info">
								<div class="product-content-detail entry-summary">
									<h1 class="product-title entry-title">Chair Oak Matt Lacquered</h1>
									<div class="price-single">
										<div class="price">
											<del><span>$150.00</span></del>
											<span>$100.00</span>
										</div>
									</div>
									<div class="product-rating">
										<div class="star-rating" role="img" aria-label="Rated 4.00 out of 5">
											<span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
										</div>
										<a href="#" class="review-link">(<span class="count">1</span> customer review)</a>
									</div>
									<div class="description">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore…</p>
									</div>
									<form class="cart" method="post" enctype="multipart/form-data">
										<div class="quantity-button">
											<div class="quantity">
												<button type="button" class="plus">+</button>
												<input type="number" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" placeholder="" inputmode="numeric" autocomplete="off">
												<button type="button" class="minus">-</button>
											</div>
											<button type="submit" class="single-add-to-cart-button button alt">Add to cart</button>
										</div>
										<button class="button quick-buy">Buy It Now</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<!-- Page Loader -->
	<div class="page-preloader">
		<div class="loader">
			<div></div>
			<div></div>
		</div>
	</div>


	<!-- Dependency Scripts -->
	<script src="~/libs/popper/js/popper.min.js"></script>
	<script src="~/libs/jquery/js/jquery.min.js"></script>
	<script src="~/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/libs/slick/js/slick.min.js"></script>
	<script src="~/libs/countdown/js/jquery.countdown.min.js"></script>
	<script src="~/libs/mmenu/js/jquery.mmenu.all.min.js"></script>

	<!-- Site Scripts -->
	<script src="~/assets/js/app.js"></script>
	<script src="~/assets/js/custom.js"></script>
	@RenderSection("Scripts", required: false)

</body>
</html>