@model AboutPromoEdit

<div class="main-panel">
    <div class="content-wrapper" style="width: 65pc;">
        <div class="container mt-5">
            <form class="forms-sample" asp-action="Edit" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label asp-for="Image">Select New Image: </label>
                    <input asp-for="Image" class="form-control" type="file" />
                    <span class="text-danger" asp-validation-for="Image"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Title">FullName: </label>
                    <input asp-for="Title" class="form-control" style="color:white" maxlength="1000" />
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description">FullName: </label>
                    <input asp-for="Description" class="form-control" style="color:white" maxlength="1000" />
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>

                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <a asp-action="Index" class="btn btn-outline-primary mt-3" style="margin-bottom: 1pc;">← Back</a>

            </form>
        </div>
    </div>
</div>