@using MVC_FinalProject.Models.Account
@model Login

<div class="clear"></div>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="page-login-register">
	<div class="row" style="margin-left: 1pc; margin-right: 2px;">
		<div class="col-lg-6 col-md-6 col-sm-12 sm-m-b-50" style="margin-left: 20pc;">
			<div class="box-form-login">
				<h2>Login</h2>
				<div class="box-content">
					<div class="form-login">
						<form method="post" class="login">

						@Html.AntiForgeryToken()

						<div id="loginErrors"></div>

						<div class="username">
							<label>Username or email address <span class="required">*</span></label>
							<input type="text" class="form-control form-control-user" asp-for="EmailOrUserName" autocomplete="off">
							<span class="text-danger" asp-validation-for="EmailOrUserName"></span>
						</div>
						<div class="password">
							<label>Password <span class="required">*</span></label>
							<input type="password" class="form-control input-text form-control-user" asp-for="Password">
							<div class="input-group-append">
								<span class="input-group-text" onclick="togglePasswordVisibility()">
									<i class="fa fa-eye" id="togglePasswordIcon"></i>
								</span>
							</div>
							<span class="text-danger" asp-validation-for="Password"></span>
						</div>

							<div class="rememberme-lost">
								<div class="remember-me">
									<input name="rememberme" type="checkbox" value="forever">
									<label class="inline">Remember me</label>
								</div>
								<div class="lost-password">
									<a asp-controller="Account" asp-action="ForgetPassword">Lost your password?</a>
								</div>
							</div>

							<div>
								<a asp-controller="Account" asp-action="Register">Don't have an account?</a>
							</div>

							<div class="button-login">
								<input type="submit" class="button" name="login" value="Login">
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br />
<br />



<script>
	function togglePasswordVisibility() {
		var passwordField = document.getElementById("exampleRepeatPassword");
		var passwordIcon = document.getElementById("togglePasswordIcon");
		if (passwordField.type === "password") {
			passwordField.type = "text";
			passwordIcon.classList.remove("fa-eye");
			passwordIcon.classList.add("fa-eye-slash");
		} else {
			passwordField.type = "password";
			passwordIcon.classList.remove("fa-eye-slash");
			passwordIcon.classList.add("fa-eye");
		}
	}


	document.querySelector("form.login").addEventListener("submit", async function (e) {
		e.preventDefault();

		const form = e.target;
		const formData = new FormData(form);

		const response = await fetch(form.action || window.location.href, {
			method: 'POST',
			headers: {
				'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value
			},
			body: formData
		});

		const result = await response.json();

		const errorContainer = document.getElementById("loginErrors");
		errorContainer.innerHTML = "";

		if (result.success) {
			window.location.href = result.redirectUrl;
		} else if (result.errors) {
			result.errors.forEach(err => {
				const p = document.createElement("p");
				p.classList.add("text-danger");
				p.innerText = err;
				errorContainer.appendChild(p);
			});
		}
	});
</script>