@using MVC_FinalProject.Models.Account
@model Register

<div class="clear"></div>
<br />
<br />
<br />
<br />
<br />

<div class="page-login-register">
	<div class="row" style="margin-left: 1pc; margin-right: 2px;">
		<div class="col-lg-6 col-md-6 col-sm-12" style="margin-left: 20pc;">
			<div class="box-form-login">
				<h2 class="register">Register</h2>
				<div class="box-content">
					<div class="form-register">						
						<form class="user" asp-controller="Account" asp-action="Register" method="post">					
								<div class="fullname"> 
						 	<label>FullName <span class="required">*</span></label> 
							<input type="text" class="form-control form-control-user input-text" id="exampleFirstName" asp-for="FullName">
							<span class="text-danger" asp-validation-for="FullName"></span>
						    	</div> 

							<div class="username"> 
						  	<label>Username <span class="required">*</span></label> 
							<input type="text" class="form-control form-control-user input-text" id="exampleLastName" asp-for="UserName">
							<span class="text-danger" asp-validation-for="UserName"></span>
					         	</div>

								<div class="email"> 
							   <label>Email address <span class="required">*</span></label> 
							<input type="email" class="form-control input-text form-control-user" id="exampleInputEmail" asp-for="Email">
							<span class="text-danger" asp-validation-for="Email"></span>
								</div>

								<div class="password"> 
								   <label>Password <span class="required">*</span></label> 
							   <input type="password" class="form-control input-text form-control-user" id="exampleRepeatPassword" asp-for="Password">
							<div class="input-group-append">
								<span class="input-group-text" onclick="togglePasswordVisibility()">
									<i class="fa fa-eye" id="togglePasswordIcon"></i>
								</span>
							</div>
							<span class="text-danger" asp-validation-for="Password"></span>
							   </div> 										
							<div> 
						   		<a asp-controller="Account" asp-action="Login">Do you have an account?</a> 
						   	</div> 
						   	<div class="button-register"> 
						   		<input type="submit" class="button" name="register" value="Register"> 
						   	</div> 
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br />
<br />

<script>
	$(document).ready(function () {
		var usernameExists = '@(ViewData.ModelState["UserName"] != null && ViewData.ModelState["UserName"].Errors.Count > 0)';
		if (usernameExists === 'True') {
			alert('Username already exists. Please choose a different username.');
		}
	});


		function togglePasswordVisibility() {
			var passwordField = document.getElementById("exampleRepeatPassword");
			var passwordIcon = document.getElementById("togglePasswordIcon");
			if (passwordField.type === "password") {
				passwordField.type = "text";
				passwordIcon.classList.remove("fa-eye");
				passwordIcon.classList.add("fa-eye-slash");
			} else {
				passwordField.type = "password";
				passwordIcon.classList.remove("fa-eye-slash");
				passwordIcon.classList.add("fa-eye");
			}
		}


</script>