@model Role

<div class="main-panel">
    <div class="content-wrapper" style="width: 65pc;">
        <div class="container" style="margin-top:100px;margin-left:320px;width: 400px;">
            <h2>Remove Role to User</h2>
            <hr />
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-info">@ViewBag.Message</div>
            }
            else
            {

                <form asp-action="RemoveRole" method="post">
                    <input type="hidden" asp-for="Username" />

                    <div class="form-group">
                        <p><strong>User:</strong> @Model.Username</p>
                        <label asp-for="RoleName"></label>
                        <select asp-for="RoleName" class="form-control" asp-items="ViewBag.Roles"></select>
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-danger">Remove Role</button>
                </form>
            }
        </div>
    </div>
</div>
