@model IEnumerable<Subscription>

<div class="main-panel">
    <div class="content-wrapper" style="width: 65pc;">
        <div class="card-body">
            <h4 class="card-title" style="font-size: 31px; margin-left: 25pc;">Subscription</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> Email </th>
                            <th> Subscribe Date </th>
                            <th> Operations </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @item.Email</td>
                                <td> @item.CreatedDate</td>
                                <td>
                                    <form asp-action="Unsubscribe" method="post">
                                        <input type="hidden" name="Email" value="@item.Email" />
                                        <button type="submit" class="btn btn-danger btn-sm">Unsubscribe</button>
                                    </form>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>