@model HelpSection

<div class="main-panel">
    <div class="content-wrapper" style="width: 65pc;">
        <div class="container mt-5 d-flex justify-content-center">
            <div class="card shadow-lg rounded-4" style="width: 600px; border: none;">
                <div class="card-body">

                    <div class="mb-3">
                        <span class="fw-semibold text-secondary">📞 Phone Number:</span>
                        <span class="text-muted mt-1">@Model.PhoneNumber</span>
                    </div>  
                    
                    <div class="mb-3">
                        <span class="fw-semibold text-secondary">⏰ Customer Service Hours:</span>
                        <span class="text-muted mt-1">@Model.CustomerServiceHours</span>
                    </div>  
                    
                    <div class="mb-3">
                        <span class="fw-semibold text-secondary">>🏖️ Is Weekend Closed:</span>
                        <span class="text-muted mt-1">@Model.IsWeekendClosed</span>
                    </div>

                    <a asp-action="Index" class="btn btn-outline-primary mt-3" style="margin-bottom: 1pc;">← Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

