@model InstagramCreate

<div class="main-panel">
	<div class="content-wrapper" style="width: 65pc;">
		<div class="container" style="margin-top:100px;margin-left:320px;width: 400px;">
			<form class="forms-sample" asp-action="Create" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label for="category"> Image</label>
					<input asp-for="Img" class="form-control" id="inputText" maxlength="1000" accept="image/*">
					<span class="text-danger" asp-validation-for="Img"></span> <br />
				</div>
				<button type="submit" class="btn btn-primary me-2">Submit</button>
				<a asp-action="Index" class="btn btn-outline-primary mt-3" style="margin-bottom: 1pc;">← Back</a>
			</form>
		</div>

	</div>
</div>