  <!-- partial -->

@section Css {
    <link rel="stylesheet" href="~/assets/css/custom.css">

}

<div class="main-panel">
    <div class="content-wrapper" style="width: 65pc;">


        <div class="dashboard-datetime-card">
            <div class="welcome-message">
                <h2>Welcome back, Admin!</h2>
                <p>Here's what's happening today...</p>
            </div>
            <div class="datetime-right">
                <div class="datetime-time" id="clock">14:32:45</div>
                <div class="datetime-greeting" id="greeting">
                    Good afternoon <div class="datetime-right">
                        <div class="datetime-time" id="clock">14:32:45</div>
                        <div class="datetime-greeting" id="greeting">Good afternoon </div>
                    </div>
                </div>
            </div>
            <div class="datetime-left">
                <div class="datetime-date" id="date">April 17, 2025,</div>
                <div class="datetime-day" id="weekday">Friday</div>

            </div>

        </div>


    </div>
</div>
<!-- main-panel ends -->


@section Scripts {
    <script src="~/assets/js/custom.js"></script>
}